body {
  margin: 0;
  overflow: hidden;
}

#sketch {
  width: 100vw;
  height: 100vh;
  background: black;
}

.loading span {
  animation: blur 1.5s calc(var(--i) / 5 * 1s) alternate infinite;
}

@keyframes blur {
  to {
    filter: blur(2px);
  }
}
