# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
# dist/
*.egg-info/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
*.py,cover
.hypothesis/

# PyInstaller
# 生成的可执行文件
*.manifest
*.spec

# 编辑器和IDE
.vscode/
.idea/
*.swp
*.swo
*.swn
*.bak

# 环境变量文件
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints/

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini
